.button {
    -fx-padding: 10; /* Adjust if necessary to fine-tune alignment */
    -fx-background-radius: 30px; /* Makes the button perfectly circular */
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2px;
    -fx-border-radius: 30px;
    -fx-text-alignment: center;
    -fx-alignment: center;
}
.buttonFormation {
    -fx-padding: 10; /* Adjust if necessary to fine-tune alignment */
    -fx-background-radius: 30px; /* Makes the button perfectly circular */
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2px;
    -fx-border-radius: 30px;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: #45A049;
}